
.CodeMirror{
	height: 100% !important;
	width: 100% !important;
	font-size:1.5em !important;
	min-height:273px;
	border-right: none !important;
	border-bottom: none !important;
	border-top:none !important;
}



.yashe{
	height: 100% !important;
	width: 100% !important;
	margin-left: -15px;

}


.yashe_uploadBtn{
	margin-right: 1px !important; 
	margin-bottom: 2px !important;
}

.yashe_deletedBtn{
	margin-top:1px !important; 
}

.yashe_downloadBtn{
	margin-top:2px !important; 
}

svg{
	margin-top:10px;
}


.wikibaseRDFtoolTip{
	clear:both !important;
	overflow:hidden !important; 
	height:1% !important;
	line-height:20px !important;
	font-size: 20px !important;

}

.wikidata_tooltip{
	
}