.tripleHeader{
    background: #EFDECD ;
    padding:5px;
    padding-right: 10px;
    color: black;
    text-align: left;
    border-top: 1px solid #acaaaa;
    display: grid;
    grid-template-columns: 10% 24% 20% 19% 6% 6% 6%;
    gap: 10px;

}


.xs-tripleHeader{
    justify-content: center;
    gap: 8px;
    grid-template-columns: 9% 24% 17% 20% 6% 6% 6%;
}


.xs-tripleBtns{
    font-size: 18px;
    padding: 2px;
}


.buildTriple{
    background: #3d3d3d !important;
    color:#f8a252 !important;
}

.buildConstraint{
    background: #3d3d3d !important;
    color:rgb(177, 224, 134) !important;
}


.deleteTripleBtn{
    background: #f8a252;
    color: white;
    border-radius: 10px;
    outline: none;
    border: none;
    padding:2px;
}

.deleteTripleBtn:focus{
    outline: none;
}


.deleteTripleBtn:hover{
    transform: scale(1.1);
}